body {
	background: #F2C989;
}

#mifoto {
	border: solid 5px #000000;
	margin: 10px;
}



#principal {
	border: solid 1px #000000;
	font-family: 'Aboreto', cursive;
	color: #F0100C;
	text-align:center;
	font-size: 25px;
}

#Uno{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
	font-size: 20px;
	text-align: initial;
}

#Dos{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
	font-size: 20px;
	text-align: initial;
}

#Tres{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
	font-size: 20px;
	text-align: initial;
}

#Cuatro{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
		font-size: 20px;
	text-align: initial;
}

#Cinco{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
		font-size: 20px;
	text-align: initial;
}

#Seis{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
		font-size: 20px;
	text-align: initial;
}

#Siete{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
		font-size: 20px;
	text-align: initial;
}

#Ocho{
	
	background: #06E8F3;
	font-family: 'Silkscreen', cursive;
		font-size: 20px;
	text-align: initial;
}

